<ion-header>
        <ion-navbar>
            <ion-title>
               Login
            </ion-title>
    </ion-navbar>   
</ion-header>
<!-- *ngIf="requestInProgress" -->
<div *ngIf="requestInProgress" class="preloader-wrap">
  <div  class="preloader"></div>   
</div>  
<ion-content class="login-content" padding>
  <ion-row class="login-wrap">
    <ion-row class="logo-row">
      <ion-col width-67 class="logo-container">
        <img src="assets/img/logo.png" alt="braincal">
      </ion-col>
    </ion-row>
    <div class="login-box">
      <form  [formGroup]="loginForm" (ngSubmit)="login(loginForm.valid)">
        <ion-row>
          <ion-col>
            <ion-list inset>
              <ion-select formControlName="country" class="select-country">
                <ion-option value="">Choose Country</ion-option>
                <ion-option *ngFor="let country of countries" value="{{country.code}}">{{country.name}}</ion-option>
              </ion-select>
              <!--<div *ngIf="loginForm.controls['country'].hasError('required') && loginForm.controls['country'].touched" class="alert alert-danger">Country Required.</div>-->

              <ion-item>
                <ion-label color="primary" floating>
                  <ion-icon name="ios-phone-portrait"></ion-icon>
                  Mobile
                </ion-label>
                <ion-input type="text" [ngClass]="{'has-error':!loginForm.controls['mobile'].valid}"  formControlName="mobile"></ion-input>
                <!--<div *ngIf="loginForm.controls['mobile'].hasError('required') && loginForm.controls['mobile'].touched" class="alert alert-danger">Mobile number required.</div>-->
              </ion-item>

              <button type="submit" [disabled]="!loginForm.valid" ion-button>Login</button>
            </ion-list>
            <button type="button" class="loginBtn loginBtn--google" (click)="loginWithGoogle()"  ion-button>Login with google</button>
            <button type="button" class="loginBtn loginBtn--facebook" (click)="loginWithFb()"  ion-button>Login with Facebook</button>
          </ion-col>
        </ion-row>
      </form>
    </div>
  </ion-row>
</ion-content>