page-home {
    ion-menu .item-md { padding: 0;}
    .list-md .item-block .item-inner{ padding: 0 20px;}
    ion-menu ion-icon{ 
        padding-right: 15px;
        position: relative;
        top: 2px;
        color: #0088e8;
    }
    ion-menu .scroll-content {
        background-image: url('../../assets/img/logo.png');
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: 125px;
    }
    /*.menu-content { margin-top: 56px;}*/
}


.tricks-row{
    align-self: flex-start;
    width: 100%;


    .tricks-list,
    .infinitte-scroll{ width: 100%;}
    .item-md { padding-right: 16px;}

    .item-text-wrap { position: relative;}

    .search-results{ 
        width: calc(100% - 32px);
        margin-left: 16px;
        margin-right: 16px;
        padding-left: 10px;
        padding-right: 10px;
        background: #19B5FE;
        color: #FFF; 
    }
    .search-results ul { padding: 0; margin: 0}
    .search-results ul li { list-style: none; position: relative; padding: 10px 0px;}
    .search-results ul li:first-child{margin-top: 15px}
    .search-results ul li:last-child{ margin-bottom: 15px;}
    .search-results ul li .go-to-link{ position: absolute; right: 0px; top: 10px; z-index: 0;}

    .search-results .result{ padding-right: 25px; padding-left: 20px; position: relative; z-index: 2;}
}

.tricks-list ion-list ion-item:nth-child(even) .item-inner{
    background-color: #EC407A;
    background-image: none
}
.tricks-list ion-list ion-item:nth-child(odd) .item-inner{
    background-color: #0088e8;
    background-image: none
}
.nomargin{
    margin-top:0px;
}