<ion-header>
  <ion-navbar>
    <button ion-button menuToggle class="">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="gk.title.rendered" [innerHTML]="gk.title.rendered"></ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="trick-content" padding>
  <div *ngIf="gk" class="single-trick">
    <h2 [innerHTML]="gk.title.rendered"></h2>
    <div class="trick-details">  
        <div *ngIf="userFavorites" class="favorite">
            <div *ngIf="userFavorites.indexOf(gk.id)==-1" (click)="addFavorite(gk.id)"><ion-icon ios="ios-heart-outline" md="md-heart-outline"></ion-icon></div>   
            <div *ngIf="userFavorites.indexOf(gk.id)>=0" (click)="removeFavorite(gk.id)"><ion-icon ios="ios-heart" md="md-heart"></ion-icon></div>     
      </div>
      <div></div>
      
      
      <div [innerHTML]="gk.content.rendered"></div>
      <div *ngIf="gk.answer">
          <div *ngIf="showAnswer">Correct Answer is: <b [innerHTML]="gk.answer"></b></div>
          <a *ngIf="!showAnswer" (click)="getAnswer()">Show Answer</a>
      </div>
    </div>
  </div>
</ion-content>