.trick-content  {
    .single-trick {
            position: relative;
            background: #fcfcfc;
            -webkit-box-shadow: 0px 0px 5px 0px #FFF;
            box-shadow: 0px 0px 5px 0px #eee;
            
        
        .trick-details {
            padding: 0 10px 10px;
        }
        h2{ 
            padding: 5px 25px 5px 10px;
            color: #FFF;
            background-color: #0088e8;
            font-size: 16px;
            line-height: 1.5;
            font-weight: normal;
        }

        .favorite{
            position: absolute;
            right: 5px;
            top: 8px;
            line-height: 24px;

            ion-icon { color: #FFF;}
        }
    }
    .playground ion-col > div{
        padding: 13px 8px;
        font-weight: bold;
    }
    .playground .operand{
        text-align: center;
        max-width: 30px;
    }
    .playground ion-input{
        background: #fff;
        box-shadow: 0px 0px 1px 0px #eee;
    }
    .playground-title{ margin: 30px 0 10px; }
    .playground-title h3{
        margin: 0;
        font-size: 16px;
        padding: 0 5px;
    }
    .playground .button-container{ text-align: center; margin: 20px auto}
    .playground .result{ text-align: center;}
}
