page-quiz {
    .countdown-wrap{
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center
    }
    .timer-countdown{
        display: inline-block;
        margin: 0 auto;
        background-color: #0088e8;
        color: #ffffff;
        padding: 10px 30px;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMV…h/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==);
        background-size: cover;
        font-weight: bold;
    }
    .item-inner{
        border-width: 1px !important;
    }
    .quiz-incorrect{ color: red; text-align: right; }
    .quiz-correct{ color:green; text-align: right; }
    .quiz-no-answer{color: red;}

    .quiz-results{
        padding: 0 15px;
    }
    .quiz-results h3{
        font-size: 1.5rem
    }
    .quizCompleted{
        white-space : normal;
        font-size: 1.5rem;
        line-height: 2rem; 
    }
    .quizCompleted span{
        font-weight: bold;
    }
}