<ion-header>
    <ion-navbar>
      <button ion-button menuToggle class="">
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>{{quiz.name}}</ion-title>
    </ion-navbar>
  </ion-header>
  
  <div *ngIf="requestInProgress" class="preloader-wrap">
        <div  class="preloader"></div>   
    </div>

  <ion-content>
    <div *ngIf="quizStarted && !quizCompleted" class="countdown-wrap">
        <div class="timer-countdown">{{timeString}}</div>
    </div> 
    <ion-slides #slides (ionSlideDidChange)="slideChanged()">
        <ion-slide *ngFor="let question of questions; let i = index;">
            <h3>Question {{i+1}}</h3>
            <h3 [innerHTML]="question.questionText"></h3>
 
            <ion-list no-lines radio-group>
                <ion-item *ngFor="let answer of question.answers; let j = index;">
                    <ion-radio (click)="selectAnswer(i,j)"  *ngIf="question.type=='radio'"></ion-radio>
                    <ion-label>{{j+1}}. {{answer.text}}</ion-label>
                </ion-item>
            </ion-list>
            <button  *ngIf="i<questions.length-1" (click)="nextSlide(i)" ion-button>Next</button>
            <button  *ngIf="i==questions.length-1" ion-button (click)="nextSlide(i)">Finish</button>
        </ion-slide>

        <ion-slide class="quiz-results">
                <ion-label class="quizCompleted" *ngIf="quizCompleted">Congratulations – you have completed <span>{{quiz.name}}</span>. You scored <span>{{totalScore}}</span> point(s) out of <span>{{questions.length}}</span> points total.
                Here are the details for incorrect answers:</ion-label>
                <ion-list no-lines radio-group *ngFor="let question of questions; let i= index;">
                        <h3>Question {{i+1}}</h3>
                        <h3 [innerHTML]="question.questionText"></h3>
            
                        <ion-list *ngIf="question.selected_answer_index!=null" no-lines radio-group>
                            <ion-item *ngFor="let answer of question.answers; let j = index;">
                                <ion-label>{{j+1}}. {{answer.text}}</ion-label>
                                <ion-label class="quiz-incorrect" *ngIf="j==question.selected_answer_index && !answer.correct"><ion-icon name="close"></ion-icon></ion-label>
                                <ion-label class="quiz-correct" *ngIf="j==question.selected_answer_index && answer.correct"><ion-icon name="checkmark-circle-outline"></ion-icon></ion-label>
                                <ion-label class="quiz-correct" *ngIf="j!=question.selected_answer_index && answer.correct"><ion-icon name="checkmark-circle-outline"></ion-icon></ion-label>
                            </ion-item>
                        </ion-list>

                        <ion-list *ngIf="question.selected_answer_index==null" no-lines radio-group>
                                <ion-item>
                                        <ion-label class="quiz-no-answer">No answer selected.</ion-label>
                                </ion-item>
                        </ion-list>
                </ion-list>
        </ion-slide>

        <ion-slide *ngIf="questions.length==0">
            <ion-label>This test series has no questions yet.</ion-label>
        </ion-slide>
        
    </ion-slides>
    

</ion-content>