<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Write to us</ion-title>
    </ion-navbar>
</ion-header>

<div *ngIf="requestInProgress" class="preloader-wrap">
  <div  class="preloader"></div>
</div>

<ion-content class="login-content" padding>
    <div class="profile-box">
      <form  [formGroup]="feedbackForm" (ngSubmit)="send(feedbackForm.valid)">
        <ion-row>
          <ion-col>
            <ion-list inset>

              <ion-item>
                <ion-label color="primary" floating>
                  <ion-icon name="contact"></ion-icon>
                  Name
                </ion-label>
                <ion-input type="text" [ngClass]="{'has-error':!feedbackForm.controls['name'].valid}"  formControlName="name"></ion-input>
              </ion-item>

              <ion-item>
                  <ion-label color="primary" floating>
                    <ion-icon name="ios-text"></ion-icon>
                    Message
                  </ion-label>
                  <ion-textarea formControlName="message"></ion-textarea>
                </ion-item>
  
              <button type="submit" [disabled]="!feedbackForm.valid" ion-button>Send</button>
            </ion-list>
          </ion-col>
        </ion-row>
        
      </form>
    </div>
  </ion-content>