<ion-header>
    <ion-navbar>
      <button ion-button menuToggle class="">
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Languages</ion-title>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content class="trick-content" padding>
    <div class="tricks-level">
      <ion-list>
          <ion-item (click)="openElPlusPage('english','English')">
              <div class="level-title">English</div>
          </ion-item>
          <ion-item (click)="openElPlusPage('french','French')">
            <div class="level-title">French</div>
          </ion-item>
          <ion-item (click)="openElPlusPage('spanish','Spanish')">
            <div class="level-title">Spanish</div>
          </ion-item>
          <ion-item (click)="openElPlusPage('hindi','Hindi')">
            <div class="level-title">Hindi</div>
          </ion-item>
      </ion-list>
    </div>
  </ion-content>