<ion-header>
    <ion-navbar>
      <button ion-button menuToggle class="">
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Quizes</ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content class="trick-content" padding>
    <div class="tricks-level">
      <ion-list>
          <ion-item *ngFor="let quiz of quizes">
              <div class="level-title" (click)="openQuiz(quiz)">{{quiz.name}}</div>
          </ion-item>
      </ion-list>
    </div>
  </ion-content>