<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Edit Profile</ion-title>
    </ion-navbar>
</ion-header>

<div *ngIf="requestInProgress" class="preloader-wrap">
  <div  class="preloader"></div>
</div>

<ion-content class="login-content" padding>
    <div class="profile-box">
      <form  [formGroup]="profileForm" (ngSubmit)="update(profileForm.valid)">
        <ion-row>
          <ion-col>
            <ion-list inset>
              
              <ion-item>
                  <ion-label color="primary" floating>
                    <ion-icon name="contact"></ion-icon>
                    First Name
                  </ion-label>
                  <ion-input type="text"  formControlName="firstname"  maxlength="10"></ion-input>
              </ion-item>

              <ion-item>
                  <ion-label color="primary" floating>
                    <ion-icon name="contact"></ion-icon>
                    Last Name
                  </ion-label>
                  <ion-input type="text"  formControlName="lastname" maxlength="15"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label color="primary" floating>
                  <ion-icon name="mail"></ion-icon>
                  Email
                </ion-label>
                <ion-input type="text" [ngClass]="{'has-error':!profileForm.controls['email'].valid}"  formControlName="email"></ion-input>
                <div *ngIf="profileForm.controls['email'].hasError('email') && profileForm.controls['email'].touched" class="alert alert-danger">Invalid email.</div>
              </ion-item>

              <ion-item>
                <ion-label color="primary" floating>
                  <ion-icon name="call"></ion-icon>
                  Mobile
                </ion-label>
                <ion-input type="text"  formControlName="mobile"></ion-input>
              </ion-item>

              <!--<ion-item>
                  <ion-select formControlName="country" class="select-country">
                      <ion-option *ngFor="let country of countries" value="{{country.code}}">{{country.name}}</ion-option>
                  </ion-select>
                    <div *ngIf="profileForm.controls['country'].hasError('required') && profileForm.controls['country'].touched" class="alert alert-danger">Country Required.</div>
              </ion-item>-->

                
  

  
              <button type="submit" [disabled]="!profileForm.valid" ion-button>Update</button>
            </ion-list>
          </ion-col>
        </ion-row>
        
        <!--<ion-row>
          <ion-col class="signup-col">
            <button ion-button class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid">Login</button>
            <button ion-button class="register-btn" block clear (click)="createAccount()">Create New Account</button>
          </ion-col>
        </ion-row>-->
        
      </form>
    </div>
  </ion-content>