<ion-header>
  <ion-navbar>
    <button ion-button menuToggle class="">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="lang.title.rendered" [innerHTML]="lang.title.rendered"></ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="trick-content" padding>
  <div *ngIf="lang" class="single-trick">
    <h2 [innerHTML]="lang.title.rendered"></h2>
    <div class="trick-details">  
        <div *ngIf="userFavorites" class="favorite">
            <div *ngIf="userFavorites.indexOf(lang.id)==-1" (click)="addFavorite(lang.id)"><ion-icon ios="ios-heart-outline" md="md-heart-outline"></ion-icon></div>   
            <div *ngIf="userFavorites.indexOf(lang.id)>=0" (click)="removeFavorite(lang.id)"><ion-icon ios="ios-heart" md="md-heart"></ion-icon></div>     
      </div>
      <div></div>
      
      
      <div [innerHTML]="lang.content.rendered"></div>
      
    </div>
  </div>
</ion-content>