<ion-header>
        <ion-navbar>
          <button ion-button menuToggle class="">
            <ion-icon name="menu"></ion-icon>
          </button>
          <ion-title >Home</ion-title>
        </ion-navbar>
      </ion-header>
    
    <ion-content class="slide-content" padding>
        <ion-slides autoplay="5000" loop="true" speed="500" pager="true" centeredSlides="false">
            <ion-slide>
                    <img src=" http://braincal.com/wp-content/uploads/braincal-banner2-768x274.jpg" />
                    <div class="slider_capation">
                            <div class="slider_title_desc">
                                    <div class="slider_title wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                        Education is not an expense, it’s an investment
                                    </div>
                                    <div class="slider_content wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;"><p>BrainCal is the platform where your investment gets best results.</p>
                            </div>
                                                                                                </div>
                    </div>
            </ion-slide>
            <ion-slide>
                    <img src="http://braincal.com/wp-content/uploads/braincal-banner-768x274.jpg" />
                    <div class="slider_capation">
                            <div class="slider_title_desc">
                                    <div class="slider_title wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                            Education gives you wings to fly.
                                    </div>
                                    <div class="slider_content wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                        <p>BrainCal can give you all the skills to fly.</p>
                                    </div>
                            </div>
                    </div>
            </ion-slide>
          </ion-slides>
          <div>
                Our vision is to shape your future, slowly and gradually, you would be directed and supported in doing hands on work at each stage.
                
                This unique learning experience that anybody can get on Braincal gives them a structured guidance on how you think, troubleshoot each task and learn in an innovative way. It builds your computational ability to solve the most difficult problem in seconds which is a vital criteria for any entrance exam. This innovative approach is welcomed by both parents and children. Our approach is to help your child understand how to improve in all dimensions with time.
          </div>
    </ion-content>