<ion-header>
  <ion-navbar>
    <button ion-button menuToggle class="">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="type=='maths_11'">11 Plus Maths</ion-title>
    <ion-title *ngIf="type=='english_11'">11 Plus English</ion-title>
    <ion-title *ngIf="type=='science_11'">11 Plus Science</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="trick-content  card-background-page" padding>
  <ion-row  *ngIf="false" >
        <ion-card *ngFor="let plan of plans">
                <img src="http://braincal.com/wp-content/uploads/braincal-banner2-768x274.jpg"/>
                <div class="card-title">{{plan.title}}</div>
                <div class="card-subtitle">{{plan.description}}</div>
                <div class="card-price">{{plan.price}}</div>
                <button ion-button (click)="buy(plan)">Subscribe</button>
              </ion-card>
     
      
  </ion-row>
  <div>

  <div *ngIf="type=='maths_11'"  class="tricks-level">
    <ion-list>
        <ion-item (click)="openElPlusPage(24,'11 Plus Maths Level 1')">
            <div class="level-title">Level 1</div>
        </ion-item>
        <ion-item (click)="openElPlusPage(23,'11 Plus Maths Level 2')">
            <div class="level-title">Level 2</div>
        </ion-item>
        <ion-item (click)="openElPlusPage(25,'11 Plus Maths Level 3')">
            <div class="level-title">Level 3</div>
        </ion-item>
        <ion-item (click)="openQuizPage(2,'11+ Maths Marathon')">
            <div class="level-title">11+ Maths Marathon Test</div>
        </ion-item>
    </ion-list>
  </div>
  <div *ngIf="type=='english_11'"  class="tricks-list tricks-level">
      <ion-list>
          <ion-item (click)="openElPlusPage(27,'11 Plus English Level 1')">
              <div class="level-title">Level 1</div>
          </ion-item>
          <ion-item (click)="openElPlusPage(28,'11 Plus English Level 2')">
              <div class="level-title">Level 2</div>
          </ion-item>
          <ion-item (click)="openElPlusPage(29,'11 Plus English Level 3')">
              <div class="level-title">Level 3</div>
          </ion-item>
          <ion-item (click)="openQuizPage(1,'11+ English Marathon')">
              <div class="level-title">11+ English Marathon Test</div>
          </ion-item>
      </ion-list>
  </div>
  <div *ngIf="type=='science_11'"  class="tricks-list tricks-level">
      <ion-list>
          <ion-item (click)="openElPlusPage(39,'11 Plus Biology')">
              <div class="level-title">Biology</div>
          </ion-item>
          <ion-item (click)="openElPlusPage(38,'11 Plus Chemistry')">
              <div class="level-title">Chemistry</div>
          </ion-item>
          <ion-item (click)="openElPlusPage(37,'11 Plus Physics')">
              <div class="level-title">Physics</div>
          </ion-item>
        </ion-list>
  </div>
</div>

</ion-content>