<ion-header> 
        <ion-navbar>
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
          <ion-title>General Knowledge</ion-title>
        </ion-navbar>
    
        <ion-searchbar
        [(ngModel)]="searchKeyword"
        [showCancelButton]="shouldShowCancel"
        (ionInput)="onInput($event)"
        (ionClear)="clearSearch()"
        (ionCancel)="onCancel($event)"></ion-searchbar>
        
</ion-header>
<div *ngIf="requestInProgress" class="preloader-wrap">
    <div  class="preloader"></div>   
</div>  
  <ion-content (swipe)="onSwipeUp($event)">
  <ion-row class="tricks-row nomargin">
        <div class="search-results">
                <ul>
                    <li *ngFor="let gk of suggestions">
                        <div class="result" (click)="openDetailPage(gk)" [innerHTML]="gk.title.rendered"></div>
                        <ion-icon ios="ios-arrow-forward" md="md-arrow-forward" class="go-to-link"></ion-icon>
                    </li>
                </ul>
        </div>

      <div class="tricks-list">    
          <ion-list>
              <ion-item class="item item-text-wrap" *ngFor="let gk of gks">
                        <div *ngIf="userFavorites" class="favorite">
                                <div *ngIf="userFavorites.indexOf(gk.id)==-1" (click)="addFavorite(gk.id)"><ion-icon ios="ios-heart-outline" md="md-heart-outline"></ion-icon></div>   
                                <div *ngIf="userFavorites.indexOf(gk.id)>=0" (click)="removeFavorite(gk.id)"><ion-icon ios="ios-heart" md="md-heart"></ion-icon></div>     
                        </div>
                        <div (click)="openDetailPage(gk)" [innerHTML]="gk.title.rendered" class="trick-title"></div>
                        <button (click)="openDetailPage(gk)">Read More</button>
              </ion-item>
  
              <ion-item class="item item-text-wrap no-trick" *ngIf="gks.length==0 && !requestInProgress">     
                      <div>No Content available.</div>
              </ion-item>
  
              <ion-item class="item item-text-wrap no-trick" *ngIf="gks.length==0 && requestInProgress">   
                      <div *ngIf="requestInProgress">Loading Contents...</div>    
              </ion-item>
  
          </ion-list>
      </div>
      <div class="infinitte-scroll">
          <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
              <ion-infinite-scroll-content></ion-infinite-scroll-content>
          </ion-infinite-scroll>
      </div>
  </ion-row>
  </ion-content>