<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Welcome {{user?.firstname}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" class="side-menu-pages">
          <ion-icon name="{{p.icon}}"></ion-icon>{{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu> 

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>