<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Favorites</ion-title>
    </ion-navbar>
</ion-header>

<!-- *ngIf="requestInProgress" -->
<div *ngIf="requestInProgress" class="preloader-wrap">
    <div  class="preloader"></div>   
</div>  
<ion-content>  
<ion-row class="favorites-row">
    <div class="tricks-list">
        <ion-list>
            <ion-item class="item item-text-wrap" *ngFor="let post of posts; let i=index">
                <div class="favorite">    
                    <div  (click)="removeFavorite(post.id,i)"><ion-icon ios="ios-remove" md="md-remove"></ion-icon></div>         
                </div>
            <div (click)="openDetailPage(post)" [innerHTML]="post.title.rendered" class="trick-title"></div>
            <button (click)="openDetailPage(post)">Read More</button>
            </ion-item>
            
            <ion-item class="item item-text-wrap no-trick" *ngIf="posts.length==0 && !requestInProgress">     
                    <div>No Contents available.</div>
            </ion-item>

            <ion-item class="item item-text-wrap no-trick" *ngIf="posts.length==0 && requestInProgress">   
                    <div *ngIf="requestInProgress">Loading Contents...</div>    
            </ion-item>

        </ion-list>
    </div>
    <div class="infinitte-scroll">
        <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>
</ion-row>
</ion-content>