.favorites-row{
    align-self: flex-start;
    width: 100%;

    .search-results,
    .tricks-list,
    .infinitte-scroll{ width: 100%;}
    .item-md { padding-right: 16px;}
    .item-text-wrap { position: relative;}

}