<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header> 

<ion-header> 
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Home</ion-title>
    </ion-navbar>

    <ion-searchbar
    [(ngModel)]="searchKeyword"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="onInput($event)"
    (ionClear)="clearSearch()"
    (ionCancel)="onCancel($event)"></ion-searchbar>
    
</ion-header>
<div *ngIf="requestInProgress" class="preloader-wrap">
    <div  class="preloader"></div>   
</div>  
<ion-content (swipe)="onSwipeUp($event)">
    <ion-row class="tricks-row">
        <div class="search-results">
            <ul>
                <li *ngFor="let trick of trickSuggestions">
                    <div class="result" (click)="openTrickDetail(trick)" [innerHTML]="trick.title.rendered"></div>
                    <ion-icon ios="ios-arrow-forward" md="md-arrow-forward" class="go-to-link"></ion-icon>
                </li>
            </ul>
        </div>
        <div class="tricks-list">    
            <ion-list>
                <ion-item class="item item-text-wrap" *ngFor="let trick of tricks">
                            <div *ngIf="userFavorites" class="favorite">
                                    <div *ngIf="userFavorites.indexOf(trick.id)==-1" (click)="addFavorite(trick.id)"><ion-icon ios="ios-heart-outline" md="md-heart-outline"></ion-icon></div>   
                                    <div *ngIf="userFavorites.indexOf(trick.id)>=0" (click)="removeFavorite(trick.id)"><ion-icon ios="ios-heart" md="md-heart"></ion-icon></div>     
                            </div>    
                    
                            <div (click)="openDetailPage(trick)" [innerHTML]="trick.title.rendered" class="trick-title"></div>
                            <button (click)="openDetailPage(trick)">Read More</button>
                </ion-item>

                <ion-item class="item item-text-wrap no-trick" *ngIf="tricks.length==0 && !requestInProgress">     
                        <div>No Contents available.</div>
                </ion-item>

                <ion-item class="item item-text-wrap no-trick" *ngIf="tricks.length==0 && requestInProgress">   
                        <div *ngIf="requestInProgress">Loading Contents...</div>    
                </ion-item>

            </ion-list>
        </div>
        <div class="infinitte-scroll">
            <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
                <ion-infinite-scroll-content></ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </div>
    </ion-row>
</ion-content>